# ignore soundfont folder
/soundfont

# ignore midi folder; too big to git
/js/midi

# ignore system files
.DS_Store
Thumbs.db

#ignore my test/refactor files
index copy.html
harken copy.css
index copy.js